<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos Estáticos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>🚀 Mi primera página con CSS</h1>

    <p>Esta página utilizará una hoja de estilos ubicada
        en la carpeta <strong>static</strong>.</p>
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Flask" width="250">

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>